@model HelpDeskN.Models.Tecnic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tecnic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomTecnic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomTecnic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsActiu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsActiu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncidenciesQueObreElTecnic)
        </dt>
        <dd>
            <ul>
                @foreach( var i in Model.IncidenciesQueObreElTecnic.OrderByDescending(x => x.DataAltaIncidencia).Take(10))
                {
                    <li>
                        @i.DescripcioCurta
                    </li>
                }
            </ul>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncidenciesQueTancaElTecnic)
        </dt>
        <dd>
            <ul>
                @foreach (var i in Model.IncidenciesQueTancaElTecnic.OrderByDescending(x => x.DataAltaIncidencia).Take(10))
                {
                    <li>
                        @i.DescripcioCurta
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTecnic }) |
    @Html.ActionLink("Back to List", "Index")
</p>
